@{
    ViewData["Title"] = "Customer Add-Edit";
}

@section styles {
    <link rel="stylesheet" href="/scripts/Components/Customer/customer-add-edit/customer-add-edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="/scripts/Components/Common/loader/loader.css" asp-append-version="true" />
}

<div id="root"></div>

@section scripts {
    <script type="text/babel" src="/scripts/Components/Customer/customer-add-edit/customer-add-edit.jsx" asp-append-version="true"></script>
    <script type="text/babel" src="/scripts/Components/Common/loader/loader.jsx" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
}