@{
    ViewData["Title"] = "Customers";
}

@section styles {
    <link rel="stylesheet" href="/scripts/Components/Customer/customer-list/customer-list.css" asp-append-version="true" />
    <link rel="stylesheet" href="/scripts/Components/Common/loader/loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="/scripts/Components/Common/confirm-dialog/confirm-dialog.css" asp-append-version="true" />
}

<div id="root"></div>

@section scripts {
    <script type="text/babel" src="/scripts/Components/Customer/customer-list/customer-list.jsx" asp-append-version="true"></script>
    <script type="text/babel" src="/scripts/Components/Common/loader/loader.jsx" asp-append-version="true"></script>
    <script type="text/babel" src="/scripts/Components/Common/confirm-dialog/confirm-dialog.jsx" asp-append-version="true"></script>
}